
<!DOCTYPE html>
<html lang="en-US">

	<head>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-19705846-1', 'auto');
			ga('require', 'GTM-WFNC2WX');
			ga('send', 'pageview');
		</script>
		<style>.async-hide { opacity: 0 !important} </style>
		<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
				h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
				(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
			})(window,document.documentElement,'async-hide','dataLayer',4000,
				{'GTM-WFNC2WX':true});
		</script>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="geo.country" content="in" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="manifest" href="https://www.dscgirls.com/content/themes/ipe-live-chat/manifest.json">

		<title>Big boobs Chubby chat - Delhi Sex Chat</title>

<!-- This site is optimized with the Yoast SEO plugin v10.1.3 - https://yoast.com/wordpress/plugins/seo/ -->
<meta name="description" content="Looking for big boobs aunty? Elakshi is here to do some fucking horny sex chat. She loves to suck and fondle her boobs on cam too at Delhi Sex Chat"/>
<link rel="canonical" href="https://www.dscgirls.com/model/elakshi/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Big boobs Chubby chat - Delhi Sex Chat" />
<meta property="og:description" content="Looking for big boobs aunty? Elakshi is here to do some fucking horny sex chat. She loves to suck and fondle her boobs on cam too at Delhi Sex Chat" />
<meta property="og:url" content="https://www.dscgirls.com/model/elakshi/" />
<meta property="og:site_name" content="Delhi Sex Chat" />
<meta property="og:image" content="https://www.dscgirls.com/content/uploads/2016/04/ELAKSHI.jpg" />
<meta property="og:image:secure_url" content="https://www.dscgirls.com/content/uploads/2016/04/ELAKSHI.jpg" />
<meta property="og:image:width" content="700" />
<meta property="og:image:height" content="700" />
<!-- / Yoast SEO plugin. -->

<link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />
<link rel='dns-prefetch' href='//www.google.com' />
<link rel='dns-prefetch' href='//www.dscgirls.com' />
<link rel='dns-prefetch' href='//s.w.org' />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11.2.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11.2.0\/svg\/","svgExt":".svg","source":{"wpemoji":"https:\/\/www.dscgirls.com\/wp-includes\/js\/wp-emoji.js?ver=5.1.1","twemoji":"https:\/\/www.dscgirls.com\/wp-includes\/js\/twemoji.js?ver=5.1.1"}};
			/**
 * @output wp-includes/js/wp-emoji-loader.js
 */

( function( window, document, settings ) {
	var src, ready, ii, tests;

	// Create a canvas element for testing native browser support of emoji.
	var canvas = document.createElement( 'canvas' );
	var context = canvas.getContext && canvas.getContext( '2d' );

	/**
	 * Checks if two sets of Emoji characters render the same visually.
	 *
	 * @since 4.9.0
	 *
	 * @private
	 *
	 * @param {number[]} set1 Set of Emoji character codes.
	 * @param {number[]} set2 Set of Emoji character codes.
	 *
	 * @return {boolean} True if the two sets render the same.
	 */
	function emojiSetsRenderIdentically( set1, set2 ) {
		var stringFromCharCode = String.fromCharCode;

		// Cleanup from previous test.
		context.clearRect( 0, 0, canvas.width, canvas.height );
		context.fillText( stringFromCharCode.apply( this, set1 ), 0, 0 );
		var rendered1 = canvas.toDataURL();

		// Cleanup from previous test.
		context.clearRect( 0, 0, canvas.width, canvas.height );
		context.fillText( stringFromCharCode.apply( this, set2 ), 0, 0 );
		var rendered2 = canvas.toDataURL();

		return rendered1 === rendered2;
	}

	/**
	 * Detects if the browser supports rendering emoji or flag emoji.
	 *
	 * Flag emoji are a single glyph made of two characters, so some browsers
	 * (notably, Firefox OS X) don't support them.
	 *
	 * @since 4.2.0
	 *
	 * @private
	 *
	 * @param {string} type Whether to test for support of "flag" or "emoji".
	 *
	 * @return {boolean} True if the browser can render emoji, false if it cannot.
	 */
	function browserSupportsEmoji( type ) {
		var isIdentical;

		if ( ! context || ! context.fillText ) {
			return false;
		}

		/*
		 * Chrome on OS X added native emoji rendering in M41. Unfortunately,
		 * it doesn't work when the font is bolder than 500 weight. So, we
		 * check for bold rendering support to avoid invisible emoji in Chrome.
		 */
		context.textBaseline = 'top';
		context.font = '600 32px Arial';

		switch ( type ) {
			case 'flag':
				/*
				 * Test for UN flag compatibility. This is the least supported of the letter locale flags,
				 * so gives us an easy test for full support.
				 *
				 * To test for support, we try to render it, and compare the rendering to how it would look if
				 * the browser doesn't render it correctly ([U] + [N]).
				 */
				isIdentical = emojiSetsRenderIdentically(
					[ 55356, 56826, 55356, 56819 ],
					[ 55356, 56826, 8203, 55356, 56819 ]
				);

				if ( isIdentical ) {
					return false;
				}

				/*
				 * Test for English flag compatibility. England is a country in the United Kingdom, it
				 * does not have a two letter locale code but rather an five letter sub-division code.
				 *
				 * To test for support, we try to render it, and compare the rendering to how it would look if
				 * the browser doesn't render it correctly (black flag emoji + [G] + [B] + [E] + [N] + [G]).
				 */
				isIdentical = emojiSetsRenderIdentically(
					[ 55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447 ],
					[ 55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447 ]
				);

				return ! isIdentical;
			case 'emoji':
				/*
				 * She's the hero Emoji deserves, but not the one it needs right now.
				 *
				 * To test for support, try to render a new emoji (female superhero),
				 * then compare it to how it would look if the browser doesn't render it correctly
				 * (superhero + female sign) .
				 */
				isIdentical = emojiSetsRenderIdentically(
					[55358, 56760, 9792, 65039],
					[55358, 56760, 8203, 9792, 65039]
				);

				return ! isIdentical;
		}

		return false;
	}

	/**
	 * Adds a script to the head of the document.
	 *
	 * @ignore
	 *
	 * @since 4.2.0
	 *
	 * @param {Object} src The url where the script is located.
	 * @return {void}
	 */
	function addScript( src ) {
		var script = document.createElement( 'script' );

		script.src = src;
		script.defer = script.type = 'text/javascript';
		document.getElementsByTagName( 'head' )[0].appendChild( script );
	}

	tests = Array( 'flag', 'emoji' );

	settings.supports = {
		everything: true,
		everythingExceptFlag: true
	};

	/*
	 * Tests the browser support for flag emojis and other emojis, and adjusts the
	 * support settings accordingly.
	 */
	for( ii = 0; ii < tests.length; ii++ ) {
		settings.supports[ tests[ ii ] ] = browserSupportsEmoji( tests[ ii ] );

		settings.supports.everything = settings.supports.everything && settings.supports[ tests[ ii ] ];

		if ( 'flag' !== tests[ ii ] ) {
			settings.supports.everythingExceptFlag = settings.supports.everythingExceptFlag && settings.supports[ tests[ ii ] ];
		}
	}

	settings.supports.everythingExceptFlag = settings.supports.everythingExceptFlag && ! settings.supports.flag;

	// Sets DOMReady to false and assigns a ready function to settings.
	settings.DOMReady = false;
	settings.readyCallback = function() {
		settings.DOMReady = true;
	};

	// When the browser can not render everything we need to load a polyfill.
	if ( ! settings.supports.everything ) {
		ready = function() {
			settings.readyCallback();
		};

		/*
		 * Cross-browser version of adding a dom ready event.
		 */
		if ( document.addEventListener ) {
			document.addEventListener( 'DOMContentLoaded', ready, false );
			window.addEventListener( 'load', ready, false );
		} else {
			window.attachEvent( 'onload', ready );
			document.attachEvent( 'onreadystatechange', function() {
				if ( 'complete' === document.readyState ) {
					settings.readyCallback();
				}
			} );
		}

		src = settings.source || {};

		if ( src.concatemoji ) {
			addScript( src.concatemoji );
		} else if ( src.wpemoji && src.twemoji ) {
			addScript( src.twemoji );
			addScript( src.wpemoji );
		}
	}

} )( window, document, window._wpemojiSettings );
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='wp-block-library-css'  href='https://www.dscgirls.com/wp-includes/css/dist/block-library/style.css?ver=5.1.1' type='text/css' media='all' />
<link rel='stylesheet' id='plyr-css'  href='//cdnjs.cloudflare.com/ajax/libs/plyr/3.5.2/plyr.css?ver=3.5.2' type='text/css' media='all' />
<link rel='stylesheet' id='sweet-alert-css'  href='//cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.26.29/sweetalert2.min.css?ver=7.26.29' type='text/css' media='all' />
<link rel='stylesheet' id='lightgallery-css'  href='//cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/css/lightgallery.min.css?ver=1.6.11' type='text/css' media='all' />
<link rel='stylesheet' id='jasny-bootstrap-css'  href='//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css?ver=3.1.3' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'  href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css?ver=4.7.0' type='text/css' media='all' />
<link rel='stylesheet' id='google-fonts-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C700italic%2C800italic%2C400%2C300%2C800%2C700%2C600&#038;ver=4.4.0' type='text/css' media='all' />
<link rel='stylesheet' id='google-icons-css'  href='//fonts.googleapis.com/icon?family=Material+Icons&#038;ver=4.4.0' type='text/css' media='all' />
<link rel='stylesheet' id='ipe-app-css'  href='https://www.dscgirls.com/content/themes/ipe-live-chat/assets/css/min/app.min.css?ver=4.9.854' type='text/css' media='all' />
<link rel='stylesheet' id='ipe-app-custom-css'  href='https://www.dscgirls.com/content/themes/ipe-live-chat/assets/css/custom.css?ver=4.9.854' type='text/css' media='all' />
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.0/babel.min.js?ver=6.24.0'></script>
<script type='text/javascript' src='//www.google.com/recaptcha/api.js?render=6LfDHGkUAAAAAN21hqAUsOzlYAhyNbHKCNWrDKtc&#038;ver=3.0'></script>
<script type='text/javascript' src='https://www.dscgirls.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='https://www.dscgirls.com/wp-includes/js/jquery/jquery-migrate.js?ver=1.4.1'></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/1.8.0/fingerprint2.min.js?ver=1.8.0'></script>
<link rel='https://api.w.org/' href='https://www.dscgirls.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.dscgirls.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.dscgirls.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 5.1.1" />
<link rel='shortlink' href='https://www.dscgirls.com/?p=593329' />
<link rel="alternate" type="application/json+oembed" href="https://www.dscgirls.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.dscgirls.com%2Fmodel%2Felakshi%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://www.dscgirls.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.dscgirls.com%2Fmodel%2Felakshi%2F&#038;format=xml" />
<link rel="alternate" href="https://www.dscgirls.com/model/elakshi" hreflang="x-default"/><meta name="mobile-web-app-capable" content="yes"><meta name="theme-color" content="#398EE8">	</head>

	<body class="host_profile-template-default single single-host_profile postid-593329 multiple-domain-www-dscgirls-com">

		<div id="dsc-app-top">
			<ipe-notification-bar :userid="0"></ipe-notification-bar>

			<div v-if="isMobile" id="mobile-navigation" class="navmenu navmenu-default navmenu-fixed-left offcanvas">
				<nav id="top-navigation-mobile" class="menu-top-guest-container"><ul id="menu-top-guest" class="topnav-mobile"><li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-5563" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-5563"><a title="Home" href="https://www.dscgirls.com/">Home</a></li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-476" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-476"><a title="How does it work?" href="https://www.dscgirls.com/how-does-it-work/">How does it work?</a></li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1057217" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1057217"><a title="Our XXX Girls Clip" href="https://www.dscgirls.com/welcome-clip/">Our XXX Girls Clip</a></li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1286331" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1286331"><a title="Lush/Vibrator" href="https://www.dscgirls.com/introducing-lush/">Lush/Vibrator</a></li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1545984" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1545984 dropdown"><a title="Languages" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Languages <span class="caret"></span></a>
<ul role="menu" class=" dropdown-menu " >
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1545968" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545968"><a title="English" href="https://www.dscgirls.com/language/english/">English</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1670903" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670903"><a title="Hindi" href="https://www.dscgirls.com/language/hindi/">Hindi</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1545980" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545980"><a title="Tagalog" href="https://www.dscgirls.com/language/tagalog/">Tagalog</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1545972" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545972"><a title="Hindi" href="https://www.dscgirls.com/language/hindi/">Hindi</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1670902" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670902"><a title="English" href="https://www.dscgirls.com/language/english/">English</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1545981" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545981"><a title="Tamil" href="https://www.dscgirls.com/language/tamil/">Tamil</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1545975" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545975"><a title="Malayalam" href="https://www.dscgirls.com/language/mallu/">Malayalam</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1670905" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670905"><a title="Tamil" href="https://www.dscgirls.com/language/tamil/">Tamil</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1670908" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670908"><a title="Bengali" href="https://www.dscgirls.com/language/bengali/">Bengali</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1670909" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670909"><a title="English" href="https://www.dscgirls.com/language/english/">English</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1545983" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545983"><a title="Urdu" href="https://www.dscgirls.com/language/urdu/">Urdu</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1670906" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670906"><a title="Telugu" href="https://www.dscgirls.com/language/telugu/">Telugu</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1670910" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670910"><a title="Bengali" href="https://www.dscgirls.com/language/bengali/">Bengali</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1545964" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545964"><a title="Bengali" href="https://www.dscgirls.com/language/bengali/">Bengali</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1670907" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670907"><a title="Urdu" href="https://www.dscgirls.com/language/urdu/">Urdu</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1545982" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545982"><a title="Telugu" href="https://www.dscgirls.com/language/telugu/">Telugu</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1545966" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545966"><a title="Bihari sex chat" href="https://www.dscgirls.com/language/bihari/">Bihari sex chat</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1670904" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670904"><a title="Punjabi" href="https://www.dscgirls.com/language/punjabi/">Punjabi</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1545970" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545970"><a title="Gujarati" href="https://www.dscgirls.com/language/gujarati/">Gujarati</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1545979" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545979"><a title="Punjabi" href="https://www.dscgirls.com/language/punjabi/">Punjabi</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1670901" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670901"><a title="Bengali" href="https://www.dscgirls.com/language/bengali/">Bengali</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1545965" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545965"><a title="Bhojpuri" href="https://www.dscgirls.com/language/bhojpuri/">Bhojpuri</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1545971" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545971"><a title="Haryanvi" href="https://www.dscgirls.com/language/haryanvi/">Haryanvi</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1545973" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545973"><a title="Kannada" href="https://www.dscgirls.com/language/kannada/">Kannada</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1545974" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545974"><a title="Kumaoni" href="https://www.dscgirls.com/language/kumaoni/">Kumaoni</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1545976" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545976"><a title="Marathi" href="https://www.dscgirls.com/language/marathi/">Marathi</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1545977" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545977"><a title="Nepali" href="https://www.dscgirls.com/language/nepali/">Nepali</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1545978" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545978"><a title="Oriya" href="https://www.dscgirls.com/language/oriya/">Oriya</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom"><a id="signup" href="#">Sign up</a></li><li class="menu-item menu-item-type-custom menu-item-object-custom"><a id="login" href="#">Login</a></li></ul></nav>			</div>
		</div>

		<div class="container">

			<div id="dsc-app-header">
				<header class="main">

					<div class="navbar navbar-inverse navbar-fixed-top visible-sm visible-xs">

						<a href="#login_modal" class="navbar-login navbar-btn btn-link" data-toggle="modal">Login</a>
						<button type="button" class="navbar-btn navbar-toggle" data-toggle="offcanvas" data-target="#mobile-navigation" data-canvas="body">
							<i class="material-icons">menu</i>
						</button>

						<div class="navbar-header">
							<a class="navbar-brand" href="https://www.dscgirls.com">
								<img src="https://www.dscgirls.com/content/themes/ipe-live-chat/assets/images/logo.png" alt="Delhi Sex Chat" />
							</a>
						</div>

					</div>

					<div class="hidden-sm hidden-xs">
						<div class="row">

							<div class="col-md-3">
																<a class="brand" href="https://www.dscgirls.com">
									<img class="logo" src="https://www.dscgirls.com/content/themes/ipe-live-chat/assets/images/logo.png" alt="Delhi Sex Chat" />
								</a>
															</div>

							<div class="col-md-9">

								<nav class="top-navigation">
									<div class="menu-top-guest-container"><ul id="menu-top-guest-1" class="topnav nav nav-pills pull-right"><li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-5563"><a title="Home" href="https://www.dscgirls.com/">Home</a></li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-476"><a title="How does it work?" href="https://www.dscgirls.com/how-does-it-work/">How does it work?</a></li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1057217"><a title="Our XXX Girls Clip" href="https://www.dscgirls.com/welcome-clip/">Our XXX Girls Clip</a></li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1286331"><a title="Lush/Vibrator" href="https://www.dscgirls.com/introducing-lush/">Lush/Vibrator</a></li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1545984 dropdown"><a title="Languages" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Languages <span class="caret"></span></a>
<ul role="menu" class=" dropdown-menu " >
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545968"><a title="English" href="https://www.dscgirls.com/language/english/">English</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670903"><a title="Hindi" href="https://www.dscgirls.com/language/hindi/">Hindi</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545980"><a title="Tagalog" href="https://www.dscgirls.com/language/tagalog/">Tagalog</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545972"><a title="Hindi" href="https://www.dscgirls.com/language/hindi/">Hindi</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670902"><a title="English" href="https://www.dscgirls.com/language/english/">English</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545981"><a title="Tamil" href="https://www.dscgirls.com/language/tamil/">Tamil</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545975"><a title="Malayalam" href="https://www.dscgirls.com/language/mallu/">Malayalam</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670905"><a title="Tamil" href="https://www.dscgirls.com/language/tamil/">Tamil</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670908"><a title="Bengali" href="https://www.dscgirls.com/language/bengali/">Bengali</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670909"><a title="English" href="https://www.dscgirls.com/language/english/">English</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545983"><a title="Urdu" href="https://www.dscgirls.com/language/urdu/">Urdu</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670906"><a title="Telugu" href="https://www.dscgirls.com/language/telugu/">Telugu</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670910"><a title="Bengali" href="https://www.dscgirls.com/language/bengali/">Bengali</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545964"><a title="Bengali" href="https://www.dscgirls.com/language/bengali/">Bengali</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670907"><a title="Urdu" href="https://www.dscgirls.com/language/urdu/">Urdu</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545982"><a title="Telugu" href="https://www.dscgirls.com/language/telugu/">Telugu</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545966"><a title="Bihari sex chat" href="https://www.dscgirls.com/language/bihari/">Bihari sex chat</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670904"><a title="Punjabi" href="https://www.dscgirls.com/language/punjabi/">Punjabi</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545970"><a title="Gujarati" href="https://www.dscgirls.com/language/gujarati/">Gujarati</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545979"><a title="Punjabi" href="https://www.dscgirls.com/language/punjabi/">Punjabi</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1670901"><a title="Bengali" href="https://www.dscgirls.com/language/bengali/">Bengali</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545965"><a title="Bhojpuri" href="https://www.dscgirls.com/language/bhojpuri/">Bhojpuri</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545971"><a title="Haryanvi" href="https://www.dscgirls.com/language/haryanvi/">Haryanvi</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545973"><a title="Kannada" href="https://www.dscgirls.com/language/kannada/">Kannada</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545974"><a title="Kumaoni" href="https://www.dscgirls.com/language/kumaoni/">Kumaoni</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545976"><a title="Marathi" href="https://www.dscgirls.com/language/marathi/">Marathi</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545977"><a title="Nepali" href="https://www.dscgirls.com/language/nepali/">Nepali</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" class="menu-item menu-item-type-taxonomy menu-item-object-language menu-item-1545978"><a title="Oriya" href="https://www.dscgirls.com/language/oriya/">Oriya</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom"><a id="signup" href="#">Sign up</a></li><li class="menu-item menu-item-type-custom menu-item-object-custom"><a id="login" href="#">Login</a></li></ul></div>								</nav>

							</div>

						</div>
					</div>
				</header>
			</div>

			<section id="content">

<div id="model-profile" class="model-profile" :class="room.status">

    <div class="row">
        <div class="col-md-12">
            <div class="model-name" v-show="call.status !== 'connected'">
                <button v-if="isMobile" type="button" class="navbar-btn navbar-toggle" data-toggle="offcanvas"
                    data-target="#mobile-navigation" data-canvas="body">
                    <i class="fa fa-bars"></i>
                </button>
                <h1>Elakshi</h1>
                <span class="xxx-video-badge" v-show="(settings.accept_video)" v-cloak>
                    XXX<i class="material-icons">videocam</i>
                </span>
                <span class="video-badge" v-show="(settings.accept_nn_video && !settings.accept_video)" v-cloak>
                    <i class="material-icons video-badge">videocam</i>
                </span>
                            </div>
        </div>
    </div>

    

    <div v-if="room.status === null && room.conference_id === null" class="page-loader">
        <div class='uil-ring-css' style='transform:scale(0.74);'>
            <div></div>
        </div>
        <p>Loading Elakshi's profile</p>
    </div>

    <model-offline v-else-if="(room.status === 'offline' || room.status === 'inactive')"></model-offline>
    <model-private v-else-if="room.status === 'private'"></model-private>
    <model-online v-else-if="room.status === 'online'"></model-online>

    <div class="row">
        <div class="col-md-12">
            <related-models :host-name="room.name" :host-profile-id="profile.ID"></related-models>
        </div>
    </div>

    <bs-modal id="reload_modal" title="Add Credit to your account">
        <iframe style="display: none;" slot="modal-body" data-src="https://www.dscgirls.com/add-credit/?ref=modal"
            marginheight="0" marginwidth="0" scrolling="yes"></iframe>
    </bs-modal>

    </div>

<script id="model-chat-tpl" type="text/template">

    <div class="chat">
		<div class="row">

			<div id="video-chat" class="col-md-8 col-xs-12">

				<chat-status
					:profile="profile"
					:call="call"
					:player="player">
					<div slot="host_image">
						<img src="https://www.dscgirls.com/content/uploads/2016/04/ELAKSHI-150x150.jpg"
						     class="host_image"
						     :class="{ 'call-animation' : call.status === 'connected'}" />
					</div>
					<div slot="connecting">
						<img src="https://www.dscgirls.com/content/themes/ipe-live-chat/assets/images/connecting.gif" class="connecting">
					</div>
				</chat-status>

				<div v-if="call.error"
				     id="call-errors"
				     class="alert alert-warning"
				     :class="{'alert-dismissible' : call.error.dismissible}"
				     role="alert">
					<button v-if="call.error.dismissible"
					        type="button"
					        class="close"
					        @click="call.error=false"
					        aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4>Something is wrong - Could not establish a private chat</h4>
					<p v-html="call.error.message"></p>
					<ul>
						<li v-for="error in call.error.list" v-html="error"></li>
					</ul>
				</div>

				<div v-if="player.callEndedAlert"
				     id="after-call-actions"
				     class="alert alert-success alert-dismissible"
				     role="alert">
					<button type="button" class="close" @click="player.callEndedAlert=false" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h2>Thank you for chatting with me</h2>

					<div v-if="userCredits === 0" class="no-credit-left">
						<p>You have no credit left. load some more credit and start another chat</p>
						<a href="javascript:;" @click="reload_credit()" class="btn btn-info btn-reload">Get More
						                                                                                Credits</a>
					</div>

					<div v-if="userCredits > 0" class="tip-placeholder">
						<model-tip :hostId="profile.host_id"
						           :hostName="room.name"
						           :userId="user.ID"
						           :userCredit="userCredits"></model-tip>

						<p>You have <span class="user-credit" v-html="userCredits"></span> credits left. Would you like
						   to thank Elakshi and leave her a tip?</p>
						<p>If you'd like to tip more credits than you currently have, you can reload some more credits
						   first.
							<a href="javascript:;" @click="reload_credit()" class="btn-reload">Get More Credits</a>
						</p>
					</div>
				</div>

				<video id="local-media" autoplay muted playsinline v-show="false"></video>
				<div id="remote-media" class="participants-media">
					<div id="ipe-player-toolbar"
					     class="ipe-player-toolbar"
					     v-if="call.status === 'connected' && !player.callEndedAlert">
						<button type="button"
						        class="player-control control-hangup"
						        @click="disconnect()"
						        v-show="!isMobile && call.status == 'connected'">
							<i class="material-icons">call_end</i>
						</button>
						<button type="button"
						        class="player-control control-local-cam"
						        @click="toggle_local_video()"
						        v-show="call.status === 'connected' && call.type !== 'voice' && webrtc.webcamEnabled">
							<i class="material-icons">videocam_off</i>
						</button>
						<button type="button"
						        class="player-control control-local-mic"
						        @click="toggle_local_audio()"
						        v-show="call.status === 'connected'">
							<i class="material-icons">mic</i>
						</button>
						<button type="button"
						        class="player-control control-remote-audio"
						        @click="toggle_remote_audio()">
							<i class="material-icons">volume_up</i>
						</button>
						<button type="button"
						        class="player-control control-toggle-fullscreen"
						        @click="toggle_fullscreen()"
						        v-show="player.type === 'video' && call.type !== 'voice'">
							<i class="material-icons">fullscreen</i>
						</button>
						<button type="button"
						        class="player-control control-toggle-pip"
						        @click="toggle_pip()"
						        v-show="player.type === 'video' && call.type !== 'voice' && !isMobile">
							<i class="material-icons">picture_in_picture_alt</i>
						</button>
					</div>
					<div id="host-hls-container" v-show="player.broadcasting">
						<div class="webrtc-ummute" v-show="player.unmuteMsg" @click="player.obj.muted=false"></div>
						<video id="host-hls" :poster="player.poster" controls crossorigin playsinline></video>
					</div>
					<video id="host-webrtc" playsinline autoplay v-show="call.status === 'connected' && call.type !== 'voice'"></video>
				</div>
			</div>

			<model-tip
				:hostId="profile.host_id"
				:hostName="room.name"
				:userId="user.ID"
				:userCredit="parseInt(user.membership.credits)"
				:displayMini="true">
			</model-tip>

			<chat-actions class="visible-xs"
			              :room-status="room.status"
			              :call-status="call.status"
			              :call-error="call.error"
			              :settings="settings"
			              :user="user">
			</chat-actions>

			<div id="text-chat" class="col-md-4 col-xs-12">
				<ipe-text-chat
					:room="room.name"
					:user="user"
					:blockWords="block_words"
					:welcome-message="settings.welcome_message"
					:enable-free-members="settings.enable_chat_free_members">
				</ipe-text-chat>
			</div>
		</div>
	</div>
</script>


			<div class="row">

				<div class="col-md-12">

					<footer>
						<div class="footer-navigation">
							<div class="menu-footer-container"><ul id="menu-footer" class="nav nav-pills"><li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-374" class="zendesk_pop menu-item menu-item-type-post_type menu-item-object-page menu-item-374"><a title="Contact Customer Support" href="https://www.delhisexchat.com/contact/">Contact Customer Support</a></li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1404" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1404"><a title="No Credit Card?" href="http://www.indianphonesex.com/English/">No Credit Card?</a></li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-709099" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-709099"><a title="Unable to Buy Credits?" href="https://www.delhisexchat.com/unable-buy-credits/">Unable to Buy Credits?</a></li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1446409" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1446409"><a title="Privacy Center" href="https://www.delhisexchat.com/privacy-center/">Privacy Center</a></li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-77225" class="green menu-item menu-item-type-post_type menu-item-object-page menu-item-77225"><a title="We are hiring girls" href="https://www.delhisexchat.com/hiring/">We are hiring girls</a></li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-74605" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-74605"><a title="Affiliation" href="http://www.ipecash.com/?affID=DSC">Affiliation</a></li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1583408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1583408"><a title="Having Issues Accessing our Site" href="https://www.delhisexchat.com/having-issues-accessing-our-site/">Having Issues Accessing our Site</a></li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-1626210" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1626210"><a title="Bolo Chat" href="https://bolochat.com">Bolo Chat</a></li>
</ul></div>						</div>
					</footer>

				</div>

			</div>

			<div class="row">

				<div class="col-md-12">

					<div class="bottom-footer">
						<p>
							<a href="https://t.me/joinchat/AAAAAERC_lYUsPQkKJ1E1Q" class="btn btn-primary" target="_blank" style="border-radius: 50px;">
								<i class="fa fa-telegram" aria-hidden="true" style="font-size: 25px;"></i>
								<span style="color: #fff;vertical-align: super;margin: 10px;">Join Our Telegram Channel</span>
							</a>
						</p>

												<img src="https://www.dscgirls.com/content/themes/ipe-live-chat/assets/images/footer-rta.png" alt="" />
						<img src="https://www.dscgirls.com/content/themes/ipe-live-chat/assets/images/footer-asacp.png" alt="" /><br />
						
						<a href="https://epoch.com/billing_support" rel="nofollow" target="_blank">Billing Support</a>  |
						<a href="https://epoch.com/" rel="nofollow" target="_blank">Please visit Epoch.com –  our authorized sales agent</a>  |
						<a href="https://www.delhisexchat.com/2257-2/" rel="nofollow" target="_blank">18 U.S.C. 2257 Record-Keeping Requirements Compliance Statement</a>
                        <br />

						<p>This website is strictly for adults only! This website contains sexually explicit content. You must be at least 18 years of age to enter this website. <br />© 2013-2019 DelhiSexChat.com All Rights Reserved</p>

					</div>

				</div>

			</div>

			</div>

        <img src="//a.vartoken.com/dsc_cookie.php?level=-1" width="1" height="1" alt="" /><script type='text/javascript' src='https://www.dscgirls.com/content/themes/ipe-live-chat/assets/js/datastore.js?ver=4.9.854'></script>
<script type='text/javascript' src='https://www.dscgirls.com/content/themes/ipe-live-chat/assets/js/min/signup.min.js?ver=4.9.854'></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js?ver=3.3.7'></script>
<script type='text/javascript' src='https://www.dscgirls.com/content/themes/ipe-live-chat/assets/js/jquery.bcSwipe.min.js?ver=1.1'></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.26.29/sweetalert2.min.js?ver=7.26.29'></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/js/lightgallery-all.min.js?ver=1.6.11'></script>
<script type='text/javascript' src='https://www.dscgirls.com/content/themes/ipe-live-chat/assets/js/ipe.log.js?ver=4.9.854'></script>
<script type='text/javascript' src='https://www.dscgirls.com/content/themes/ipe-live-chat/assets/js/ipe.webrtc.js?ver=4.9.854'></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.js?ver=2.6.8'></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js?ver=1.5.1'></script>
<script type='text/javascript' src='https://www.dscgirls.com/content/themes/ipe-live-chat/assets/js/min/vue-components.min.js?ver=4.9.854'></script>
<script type='text/javascript' src='//www.gstatic.com/firebasejs/5.9.0/firebase-app.js?ver=5.9.0'></script>
<script type='text/javascript' src='//www.gstatic.com/firebasejs/5.9.0/firebase-auth.js?ver=5.9.0'></script>
<script type='text/javascript' src='//www.gstatic.com/firebasejs/5.9.0/firebase-database.js?ver=5.9.0'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var ipeFBObj = {"FB_API_KEY":"AIzaSyC-tH337JVyf8zk4RJz0oyc0mHfVRJfujM","FB_AUTH_DOMAIN":"delhi-sex-chat-2c48b.firebaseapp.com","FB_DB_URL":"https:\/\/delhi-sex-chat-2c48b.firebaseio.com","FB_PROJECT_ID":"delhi-sex-chat-2c48b","FB_STORAGE_BUCKET":"delhi-sex-chat-2c48b.appspot.com","FB_MSG_SENDER_ID":"656587041247"};
/* ]]> */
</script>
<script type='text/javascript' src='https://www.dscgirls.com/content/themes/ipe-live-chat/assets/js/ipe-firebase-settings.js?ver=4.9.854'></script>
<script type='text/javascript' src='https://www.dscgirls.com/content/themes/ipe-live-chat/assets/js/timer/timer.jquery.js?ver=4.9.854'></script>
<script type='text/javascript' src='https://www.dscgirls.com/wp-includes/js/dist/vendor/moment.js?ver=2.22.2'></script>
<script type='text/javascript'>
moment.locale( 'en_US', {"months":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthsShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"weekdays":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"weekdaysShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"week":{"dow":1},"longDateFormat":{"LT":"g:i a","LTS":null,"L":null,"LL":"F j, Y","LLL":"F j, Y g:i a","LLLL":null}} );
</script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/hls.js/0.12.4/hls.min.js?ver=0.12.4'></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/plyr/3.5.2/plyr.min.js?ver=3.5.2'></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.4.0/adapter.min.js?ver=6.4.0'></script>
<script type='text/javascript' src='https://dscgirls.online/WebRTCAppEE/js/webrtc_adaptor.js?ver=4.9.854'></script>
<script type='text/javascript' src='https://www.dscgirls.com/content/themes/ipe-live-chat/assets/js/DetectRTC.min.js?ver=1.3.8'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var ipeUserChatData = [];
ipeUserChatData = {"is_logged":false,"room":"elakshi","room_status":"online","host_id":352585,"ipe_theme_assets":"https:\/\/www.dscgirls.com\/content\/themes\/ipe-live-chat\/assets\/","site_url":"https:\/\/www.dscgirls.com","is_mobile":false,"block_words":["whaat","waat","whatsapp","watsap","whtsp","whatsp","whatsap","96","9-6","9+6","9 6","9.6","9*6","9632091374","1374","+91","alisha","aleesha","aleisha","sms","alsha","9_","nine "]};;
var ipeMediaServer = [];
ipeMediaServer = {"server_url":"https:\/\/dscgirls.online","peer_url":"https:\/\/peer.dscgirls.online:5443","cdn_url":"https:\/\/1610323793.rsc.cdn77.org","ice_servers":[{"url":"stun:global.stun.twilio.com:3478?transport=udp"},{"url":"turn:global.turn.twilio.com:3478?transport=udp","username":"cdd01e644605430a0c555ad094a551bb252058eed2beccf9c4270ab07108794d","credential":"vPvtL\/OawPn0AIJoHVPhiqndi3lFkVYHceetpJb9syI="},{"url":"turn:global.turn.twilio.com:3478?transport=tcp","username":"cdd01e644605430a0c555ad094a551bb252058eed2beccf9c4270ab07108794d","credential":"vPvtL\/OawPn0AIJoHVPhiqndi3lFkVYHceetpJb9syI="},{"url":"turn:global.turn.twilio.com:443?transport=tcp","username":"cdd01e644605430a0c555ad094a551bb252058eed2beccf9c4270ab07108794d","credential":"vPvtL\/OawPn0AIJoHVPhiqndi3lFkVYHceetpJb9syI="}]};;
var ipeUser = [];
ipeUser = {"ID":9999995275,"username":"guest-5cba7e7326cca","registered":null,"last_login":null,"user_status":null,"email":null,"email_score":0,"roles":["Guest"],"capabilities":{"use_text_chat":false,"use_voice_chat":false},"optin":false,"role":"Guest","type":"Guest","credit":0,"affiliate":null,"membership":{"credits":0,"value":0,"current":{"id":0},"next":false,"to_next":0},"billing":false};;
/* ]]> */
</script>
<script type='text/javascript' src='https://www.dscgirls.com/content/themes/ipe-live-chat/assets/js/ipe.user.calls.antmedia.js?ver=4.9.854'></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js?ver=3.1.3'></script>
<script type='text/javascript' src='https://www.dscgirls.com/content/themes/ipe-live-chat/assets/js/jquery.cookie.js?ver=4.9.854'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var ipeApp = [];
ipeApp = {"assetsUrl":"https:\/\/www.dscgirls.com\/content\/themes\/ipe-live-chat\/assets\/","id":false};;
var ipe_app = {"id":"0"};
/* ]]> */
</script>
<script type='text/javascript' src='https://www.dscgirls.com/content/themes/ipe-live-chat/assets/js/min/app.min.js?ver=4.9.854'></script>
<script type='text/javascript' src='https://www.dscgirls.com/wp-includes/js/wp-embed.js?ver=5.1.1'></script>
        </section>

					<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Login to Your Account</h4>
						</div>

						<div class="modal-body">
							<form class="form-horizontal" role="form" id="lc_login" action="" method="post">
	<input type="hidden" name="user-cookie" value="1" />
    <input type="hidden" id="login-security" name="login-security" value="03555d673f" /><input type="hidden" name="_wp_http_referer" value="/model/elakshi/?affID=IPV-onlinebox&amp;media=ipv-native&amp;isp=Nile+Online" />	
    <div class="error alert alert-danger" style="display: none;">
		<p></p>
	</div>
	
	<div class="form-group">
		<label for="user_login" class="col-lg-2 control-label">Username</label>
		<div class="col-lg-10">
			<input type="text" class="form-control" name="log" id="log" value="" id="user_login" class="input"/>
		</div>
	</div>
	
	<div class="form-group">
		<label for="user_pass" class="col-lg-2 control-label">Password</label>
		<div class="col-lg-10">
			<input type="password" class="form-control" name="pwd" id="pwd" value="" id="user_pass" class="input"/>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10 clearfix">
			<div class="pull-left checkbox">
				<label for="rememberme">
					<input type="checkbox" name="rememberme" value="forever" checked="checked" id="rememberme" /> Remember me
				</label>
			</div>
            <p class="pull-right" style="padding-top: 7px;">
                <a href="https://www.dscgirls.com/wp-login.php?action=lostpassword&redirect_to=https%3A%2F%2Fwww.dscgirls.com" title="Forgot Your Password?">Forgot Your Password?</a>
            </p>
		</div>
	</div>	
	<div class="form-group hidden">
		    </div>
	
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
            <input type="submit" class="btn btn-primary" value="Login" />
		</div>
	</div>

</form>						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="register_modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="vertical-alignment-helper">
					<div class="modal-dialog vertical-align-center">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title">Create Your Free DSC Account</h4>
								</div>
								<div class="modal-body">
									<form class="form-horizontal" id="ipe-signup" method="post">
	<input type="hidden" name="user-cookie" value="1"/>
	<input type="hidden" name="re-token" id="re-token" value=""/>
	<input type="hidden" id="user-registration" name="user-registration" value="90aa9b4b71" /><input type="hidden" name="_wp_http_referer" value="/model/elakshi/?affID=IPV-onlinebox&amp;media=ipv-native&amp;isp=Nile+Online" />
	<div class="error alert alert-danger" style="display: none;">
		<p></p>
	</div>

			<p>
			Our Hot Indian Girls are waiting for you to call them now. <br/>
			To call the girls create your FREE ACCOUNT
		</p>
		<p>
			Please enter a valid email and select username and password:
		</p>
	
	<div class="form-group email col-md-12">
		<label class="sr-only" for="email">Email address</label>
		<div class="input-group">
			<span class="input-group-addon">@</span>
			<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
			<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		</div>
		<span class="error" style="display: none;"></span>
	</div>

	<div class="form-group username col-md-12">
		<label class="sr-only" for="username">Username</label>
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-user"></i></span>
			<input type="text" class="form-control" name="username" id="username" placeholder="Choose Username"
				   required
				   pattern="^[a-zA-Z](?:[a-zA-Z\d]|[-._](?=[a-zA-Z\d])){3,25}$"
			<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		</div>
		<span class="error" style="display: none;"></span>
	</div>

	<div class="form-group password col-md-12">
		<label class="sr-only" for="password">Password</label>
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-lock"></i></span>
			<input type="password" class="form-control" name="password" id="password"
				   required
				   pattern=".{6,20}"
				   placeholder="Type a Password">
			<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		</div>
		<span class="error" style="display: none;"></span>
	</div>

	<div class="form-group terms col-md-12">
		<div class="input-group">
			<div class="checkbox">
				<label for="terms">
					<input type="checkbox" name="terms" id="terms" value="1" required>
					By creating an account i hereby declare that i read and agree to the
					<a href="https://www.dscgirls.com/privacy-center/" target="_blank" rel="noopener">Terms of use</a>.
				</label>
			</div>
			<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		</div>
		<span class="error" style="display: none;"></span>
	</div>

	<div class="btn-register">
		<button id="btn-signup" class="btn btn-lg btn-block btn-warning">Create My Account</button>
		<p>
			Already have an account?
			<a href="#login_modal" data-dismiss="modal" aria-hidden="true" data-toggle="modal">
				login here
			</a>
		</p>
	</div>

</form>

<div class="registered" style="display:none;">

	<h4>Dear <span class="username"></span>,</h4>

	<p>
		You have successfully created your FREE Account.<br/>
		An email has been sent to this email with your username, email and password.
	</p>
	<p>
		Please click the link included in this email to activate your account. If you don't see the email in your inbox,
		please check your spam folder and un-spam it.
	</p>

	<p class="actions">
		<a href="https://www.dscgirls.com">Go to Homepage</a>
	</p>

</div>

<script>
	grecaptcha.ready( function () {
		grecaptcha.execute( "6LfDHGkUAAAAAN21hqAUsOzlYAhyNbHKCNWrDKtc", {
			action : 'homepage'
		} ).then( function ( token ) {
			document.getElementById( 're-token' ).value = token;
		} );
	} );
</script>								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</body>
</html>

<!--Cached using Nginx-Helper on 2019-04-20 03:05:39. It took 7 queries executed in 0.634 seconds.-->
<!--Visit http://wordpress.org/extend/plugins/nginx-helper/faq/ for more details-->
